@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    @apply min-w-96;
    height: 100%;
    min-width: 30rem;
    min-height: 30rem;
}

.ska-page-container {
    @apply flex flex-row flex-auto min-h-0 max-w-none;
}

.ska-page-column-flex {
    @apply flex-grow overflow-x-hidden overflow-y-auto p-2
}

.ska-page-column {
    @apply flex-none overflow-x-hidden overflow-y-auto p-2
}

.mydiv {
    background-color: red;
    height: 400px;
    width: 400px;
}